<footer>

        <div class="footer-content">


            <!-- SOBRE -->

            <div>

                <div class="footer-logo">
                    GAME<span>VERSE</span>
                </div>

                <p class="footer-description">
                    Sua plataforma de jogos digitais.
                    Encontre grandes aventuras, lançamentos
                    e experiências incríveis para todos os tipos
                    de jogadores.
                </p>

                <div class="socials">

                    <a href="#">
                        <i class="fa-brands fa-instagram"></i>
                    </a>

                    <a href="#">
                        <i class="fa-brands fa-facebook"></i>
                    </a>

                    <a href="#">
                        <i class="fa-brands fa-discord"></i>
                    </a>

                    <a href="#">
                        <i class="fa-brands fa-x-twitter"></i>
                    </a>

                </div>

            </div>


            <!-- LOJA -->

            <div class="footer-column">

                <h3>LOJA</h3>

                <a href="#">Jogos</a>
                <a href="#">Promoções</a>
                <a href="#">Mais vendidos</a>
                <a href="#">Lançamentos</a>

            </div>


            <!-- SUPORTE -->

            <div class="footer-column">

                <h3>SUPORTE</h3>

                <a href="#">Central de ajuda</a>
                <a href="#">Contato</a>
                <a href="#">FAQ</a>
                <a href="#">Reembolsos</a>

            </div>


            <!-- EMPRESA -->

            <div class="footer-column">

                <h3>EMPRESA</h3>

                <a href="#">Sobre nós</a>
                <a href="#">Termos de uso</a>
                <a href="#">Privacidade</a>
                <a href="#">Cookies</a>

            </div>

        </div>


        <div class="copyright">

            © 2026 GameVerse.
            Criado por Guilherme.....

        </div>

    </footer>